@charset "utf-8";
body{
	font: 12px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
    background: #f5f5f5;
    color: #757575;
}
.wrapper{
	width:100%;
	min-height:100%;
	height:auto;
}
.wrap{
	padding-bottom: 80px;
}
.layout {
    background-color: #fff;
    width: 854px;
    margin: 0 auto;
    padding-bottom: 10px;
}
.mainbox{
	background: #fff;
    padding: 34px 34px 30px;
    min-height: 400px;
    padding-top:0;
}
.header_tit {
    padding: 50px 0 0px;
    padding-top:0;
}
.milogo {
    width: 49px;
    height: 48px;
    margin: 0 auto;
    display: block;
    background:#EF5B00;
}
.header_tit_txt {
    font-size: 30px;
    color: #424242;
    font-weight: normal;
    padding-top: 40px;
}
.site_info {
    padding-top: 10px;
}
.login_area {
    width: 332px;
    margin: 0 auto;
    padding: 30px 0;
    line-height:20px;
}
form {
    display: block;
}
.lgn_inputbg {
    position: relative;
    padding-bottom: 15px;
}
.labelbox {
    display: block;
    padding: 0;
    border: 1px solid #e0e0e0;
}
.labelbox input {
    width: 310px;
    height: 20px;
    line-height: 20px;
    padding: 10px;
    display: inline-block;
}
input {
    color: #333;
}
.lgncode {
    padding-bottom: 15px;
}
.code_label {
    display: inline-block;
    margin-bottom: 0;
}

.code_label .code {
    width: 170px;
    height:20px;
    line-height: 20px;
  	padding: 10px;
  	display: inline-block;
}
.chkcode_img_parent{
	float:right;
}
.chkcode_img {
    margin-left: 10px;
    cursor: pointer;
    width:125px;
    height:42px;
    display: inline-block;
    text-align: center;
    line-height:42px;
    font-size:20px;
    letter-spacing: 2px;
    background:#ddd;
    opacity: 0.5;
    border-radius: 5px;
}
.err_tip {
  	margin-top:-8px;
   	margin-bottom: 5px;
    line-height: 20px;
    font-size: 12px;
    color: #ff6700;
    display: none;
}
.icon_error {
    width: 14px;
    height: 14px;
    margin: -1px 5px 0 0;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}
.icon_error {
    background:url(../img/sprite_login.jpg) 0 -69px no-repeat;
}

.err_tip span {
    vertical-align: middle;
}
.btns_bg {
    margin-top: 15px;
}
.btnadpt {
	background-color: #ff6700;
    border: 1px solid rgba(186,186,186,0.3);
    color: #fff;
    width: 330px;
    height: 42px;
    margin: 0 auto;
    line-height: 42px;
    text-align: center;
    font-size: 14px;
    display: block;
    cursor: pointer;
}
.btnadpt:hover{
	opacity: 0.57;
}
.msg{
    margin-top: 10px;
    color: #9d9d9d;
    line-height: 20px;
    
}
.msg a{
	color: #333;
    font-weight: bold;
}


.n-footer {
    height: 80px;
    margin-top: -80px;
    line-height: 1.5;
    text-align: center;
}
.nf-link-area {
    text-align: center;
}
.nf-link-area li {
    display: inline-block;
}
.nf-link-area a {
    display: inline-block;
    padding: 0 10px;
    color: #757575;
}
.nf-intro {
    padding: 10px;
}
.nf-link-area a:hover{
	color:#333;
}
.list-wrap{
	margin-bottom: 15px;
	position: relative;
}
.tits {
    height: 40px;
    padding-left: 14px;
    line-height: 40px;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #e8e8e8;
    color: #555;
    cursor: pointer;
}
.tits tt {
    float: left;
    width: 275px;
    border-right: 1px solid #e8e8e8;
    cursor: pointer;
}
.icon_cirarr {
    float: right;
    background: url(../img/icon_user.png);
    width: 16px;
    height: 16px;
    margin: 11px 12px 0 12px;
}

.lis_wrapper{
	width: 100%;
    background: #fff;
    height: 270px;
    line-height: 30px;
    border: 1px solid #e8e8e8;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    left: 0;
    top: 41px;
    z-index: 98;
    display: none;
}
.lis_con .lis_top{
	background: #fcdecc;
    padding-left: 10px;
    margin-bottom: 6px;
    line-height: 30px;
    color: #ef5b00 !important;
    width:100%;
    display: block;
}
.lis_con li{
	padding: 0 10px;
    line-height: 39px;
    clear: both;
    overflow: hidden;
    color: #000;
    border-bottom: 1px solid #e0e0e0;
    cursor: pointer;
}
.lis_con li:hover{
	background:#eaeaea;
}
.lis_con .lis_left{
	float:left;
}
.lis_con .lis_right{
	float:right;
	max-width: 20%;
    color: #9d9d9d;
}
